PROJECT_NAME='Falcon'

VERSION='1.0.0'

HOST='127.0.0.1'

DEBUG=True

PORT=8008

DATABASE_URL='mysql+pymysql://****:******@localhost:3306/perflocust'

SECRET_KEY='*********************'

REFRESH_SECRET_KEY='***************************'

ALGORITHM=HS256
