LOG_LEVEL=INFO

GRPC_MASTER_HOST=falcon-master
GRPC_MASTER_PORT=50051
WORKER_SHARED_TOKEN=change-me-worker-token

GRPC_WORKER_ID=worker-docker-01
GRPC_WORKER_HOST=falcon-worker
GRPC_WORKER_PORT=50061
GRPC_WORKER_TAGS=default
GRPC_WORKER_METADATA_JSON={}
GRPC_WORKER_CAPACITY=4
GRPC_WORKER_HEARTBEAT_INTERVAL_SECONDS=5
